* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // root 16px * 0.625 == 10px
}

body {
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin: 3rem 0;
  /* color: red; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  height: 100vh;
  gap: 10px;
}

.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.container__container {
  background-color: #fff;
  border: 1px solid black;
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  display: flex;
  justify-content: space-between;
}
